%h1= @doc.title
%p= @doc.content

%button= link_to "Delete Note", doc_path(@doc), method: :delete, data: {confirm: "Are you sure?"}
%button=link_to "Edit Note", edit_doc_path
%button=link_to "All Notes", docs_path
