.navbar-default{
	margin-bottom: 0;
}

.logout{
	color: #D2091F !important; 
}

.my-docs{
	color: #194192 !important; 
} 

.new-note{
	color: #F45C2A !important; 
}

.login{
	color: #2ecc71 !important; 
}